<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/tablet.css" media="screen and (max-width: 991px)">
    <link rel="stylesheet" href="assets/css/mobile.css" media="screen and (max-width: 540px)">
    <!-- vue link -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Boolzapp</title>
</head>
<body>
    <div id="app" class="container">
        <!-- contenitore sx dei messaggi -->
        <div class="left">
            <div class="header-left">
                <!-- logo -->
                <div class="header-left-logo">
                    <img src="assets/img/avatar_io.jpg" alt="Mio avatar">
                </div>
                <!-- icone -->
                <div class="header-left-icons">
                    <i class="fas fa-circle-notch"></i>
                    <i class="fas fa-comment-alt"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>
            <div class="left-disclaimer">
                <div class="left-disclaimer-logo">
                    <i class="fa fa-bell-slash" aria-hidden="true"></i>
                </div>
                <div class="left-disclaimer-text">
                    <h3>Ricevi notifiche di nuovi messaggi</h3>
                    <a href="#">Attiva notifiche desktop</a>
                </div>
            </div>
            <!-- barra di ricerca -->
            <div class="left-searchbar">
                <label class="search-label" for="search">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </label>
                <!-- filtro ricerca -->
                <input id="contacts-filter" class="left-searchbar-input" placeholder="Cerca o inizia una nuova chat"
                 name="search" v-model="searchQuery" @keyup.enter="filteredContacts">
            </div>
            <!-- /barra ricerca -->

            <!-- contatti -->

            <div class="contacts">
                <!-- lista contatti che si aggiorna con i contatti inseriti nell'array contacts -->
                <ul>
                    <!-- usato il comando v-show per mostrare solo i contatti con la proprietà visible settata a true -->
                    <li 
                    v-for="(curContact,index) in contacts"
                    v-show="curContact.visible"
                    @click="toggleActive(curContact, index)">
                
                <div class="contact" >
                    <div class="contact-logo">
                        <img 
                        :src="`assets/img/avatar${curContact.avatar}.jpg`">
                    </div>
                    <div class="contact-info">
                        <h3>
                            <span class="contact-name"> {{curContact.name}} </span>
                            <span class="time">{{ getLastMessageTime(curContact) }}</span>
                        </h3>
                        <small>{{ getLastMessage(curContact) }}</small>
                    </div>
                </div>
                    </li>
                </ul>
                
                
            
            </div>
        </div>
        <!-- /contenitore sx -->
        <!-- contenitore dx -->
        <div class="right"
        v-for="(curContact,index) in contacts"
        v-show="curContact.active"
        >
            <div class="header-right">
                <!-- logo -->
                <div class="header-right-logo" >
                    <!-- immagine del contatto corrente -->
                    <img :src="`assets/img/avatar${curContact.avatar}.jpg`">
                    <!-- nome del contatto corrente -->
                    <h3><span id="header-right-contact-name"> {{curContact.name}} </span> <br>
                        <!-- ultimo accesso contatto corrente -->
                        <small class="time">Ultimo accesso oggi alle 16:26</small>
                    </h3>
                </div>
                <!-- non changable -->
                <div class="header-right-icons">
                    <i class="fas fa-search"></i>
                    <i class="fas fa-paperclip"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>
            <!-- spazio messaggi -->
            <!-- contenitore dei messaggi -->
            <div class="right-messages-container">

                <div class="right-messages"
                >
                    <!-- verifica dello status e display del messaggio -->
                    <div class="message" 
                    v-for="(curMessage, index) in curContact.messages"
                    :class="curMessage.status === 'received'? 'received' : 'sent'">
                        <div class="message-inner">
                            <!-- testo messaggio -->
                            <span class="message-text">
                                {{curMessage.message}}
                            </span>

                            <!-- opzioni messaggio -->
                            <div class="message-options">
                                <i class="fa fa-chevron-down"></i>
                                <div class="message-options-panel">
                                    <div class="message-info">Info messaggio</div>
                                    <div class="message-destroy">Cancella messaggio</div>
                                </div>
                            </div>
                        </div>
                        <span class="message-time">16:13</span>
                    </div>

                </div>
            </div>

            <!-- footer -->
            <div class="right-footer">
                <!-- icone -->
                <div class="right-footer-icon">
                    <i class="far fa-smile"></i>
                </div>

                <!-- inserimento messaggio -->
                <input class="new-message-inputs" placeholder="Scrivi un messaggio" @keyup.enter="addNewMessage(curContact)">

                <!-- icone -->
                <div class="right-footer-icon">
                    <i class="fa fa-microphone" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <!-- /contenitore dx -->
    </div>
<script src="./assets/data.js"></script>
</body>
</html>